{:manifest_version         3

 ;; Description
 :name                     "RenderGPT"
 :description              "A Chrome extension to render structured output from ChatGPT into rich text and other views."
 :version                  "1.0"
 :icons                    {"16"  "images/icon16.png"
                            "32"  "images/icon32.png"
                            "48"  "images/icon48.png"
                            "128" "images/icon128.png"
                            "256" "images/icon256.png"}

 ; This content script proxies to the main js/rendergpt.js script (which might
 ; further require other js/* scripts, and therefore needs full access in web
 ; accessible resources).
 :permissions              [:scripting]
 :content_scripts          [{:matches ["https://chat.openai.com/*"]
                             :js      ["content_proxy.js"]}]
 :web_accessible_resources [{:matches   ["https://chat.openai.com/*"]
                             :resources ["js/*" "rendergpt.css"]}]}
