.rmsc.dark {
    --rmsc-main: #343540;
    --rmsc-hover: #0e0c0a;
    --rmsc-selected: #1d1915;
    --rmsc-border: #333333;
    --rmsc-gray: #d4d4d9;
    --rmsc-bg: #343540;
    font-size: 0.85em;
    color: #fff;
}

.rmsc div.dropdown-content {
    padding-top: 0;
    border-top: 1px solid var(--rmsc-gray);
}
